<%- include("partials/header.ejs") %>

<h1>HOME Me</h1>
<ul>
    <li>
        <p>Hello you, stay put this is being worked on</p>
    </li>

</ul>
<p>
    <input type="text" id="userInput" placeholder="Enter your content">
    <button onclick="saveInput()">Save</button>
    <button onclick="editInput()">Edit</button>
    <button onclick="deleteInput()">Delete</button>
    <div id="display"></div>
</p>

<%- include("partials/footer.ejs") %>